body {
    background-color: #e5edf1 !important;
}

.card {
    width: 100% !important;
    height: 100% !important;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    min-height: 250px;
    max-height: 400px;
    height: 40vw;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: translateX(0%) rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.trash {
    color: red;
    cursor: pointer;
}

.rotate {
    cursor: pointer;
}
